extends ../layouts/default.pug

block page-header
  h1.text-center Welcome 
    span.user #{user} &ensp;
    a.btn.btn-danger(href='/adminlogout', role='button') Logout!

block content
  .form-group
      a.btn.btn-lg.btn-block.btn-info(href='/admin/viewexam', role='button') View Exam
  .form-group
      a.btn.btn-lg.btn-block.btn-info(href='/admin/addexam', role='button') Add Exam
  .form-group
      a.btn.btn-lg.btn-block.btn-info(href='/admin/deleteexam', role='button') Delete Exam
  .form-group
      a.btn.btn-lg.btn-block.btn-info(href='/admin/viewresult', role='button') View Result
