extends ../layouts/default.pug

block page-header
  h2 Sign in

block content
  .container
    a(href="/studentsignin")
      .contain
        .card
          h2 Student
    a(href="/adminsignin")
      .contain
        .card
          h2 Admin



         
