extends ../layouts/default.pug

block page-header
	h2 Add Exam
	a.btn.btn-primary(href='/admindashboard', role='button') Back to Dashboard

block content
	form(action="/admin/addexam", method="POST", role="form")
		.form-group
			label(for="title") Exam Name:
			input.form-control(name="title" type="text", placeholder="xyz" required="true")
			label(for="code") Exam Code:
			input.form-control(name="code" type="number", placeholder="123" required="true")
		button.btn.btn-primary(type="submit") Submit 
		